html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#myBox {
  font-size: 60px;
  padding: 8px 12px;
  border-radius: 6px;
  width: 100vw;        /* full viewport width */
  box-sizing: border-box;  /* include padding in width */
}

#scaleSlider {
  width: 100vw;
  box-sizing: border-box;
}