html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#myBox {
  font-size: 60px;
  padding: 8px 12px;
  border-radius: 6px;
  width: 100vw;        /* full viewport width */
  box-sizing: border-box;  /* include padding in width */
}

#scaleSlider {
  width: 100vw;
  height: 50px; /* gives the element space */
  -webkit-appearance: none;
  appearance: none;
  background: transparent; /* avoid Safari overriding the track */
}

/* TRACK */
#scaleSlider::-webkit-slider-runnable-track {
  height: 20px;              /* visible bar height */
  background: #7f84fd;          /* light gray bar */
  border-radius: 10px;
}
#scaleSlider::-moz-range-track {
  height: 20px;
  background: #7f84fd;
  border-radius: 10px;
}

/* THUMB */
#scaleSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;               /* big thumb */
  height: 40px;
  border-radius: 50%;
  background: #383eed;
  cursor: pointer;
  margin-top: -10px;         /* centers thumb on the track */
}

#scaleSlider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #383eed;
  cursor: pointer;
}

canvas {
  display: none;
}